services:
  postgres:
    image: postgres:16-alpine
    container_name: denemetakip-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: denemetakip
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: denemetakip-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
